<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% interviews.each do |interview| %>
      <tr>
        <td><%= interview.date %></td>
        <td><%= interview.approval %></td>
        <td><%= link_to 'Show', user_interview_path(current_user, interview) %></td>
        <td><%= link_to 'Edit', edit_user_interview_path(current_user, interview) %></td>
        <td><%= link_to 'Destroy', user_interview_path(current_user, interview), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_with(url: apply_user_interviews_path(current_user), local: true)  do |form| %>
  <%= form.select :mail_to, User.where.not(id: current_user.id).map{|i| [i.email, i.id]} %>
  <%= form.submit value: 'Apply' %>
<% end %>

<%= link_to 'New Interview', new_user_interview_path(current_user) %>
