<p class="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
      <th>school</th>
      <th>Interview Datetime</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.birthday %></td>
        <td><%= user.gender %></td>
        <td><%= user.school %></td>
        <td><%= user.interviews.find_by(approval: 'approve')&.date  || 'Undecided' %></td>
        <th><%= link_to 'List', user_interviews_path(user) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
